@font-face{
    font-family: 'spartan';
    src: url(https://static1.squarespace.com/static/5cfa809e026e020001881f64/t/5d08f1983c02b2000120fa6a/1560867224382/SpartanMB-Bold.otf);
      font-weight: bold;
        font-style: bold;
  }
  
  @font-face{
    font-family: 'spartan';
    src: url(https://static1.squarespace.com/static/5cfa809e026e020001881f64/t/5d08f11963213800010f276d/1560867097570/SpartanMB-Regular.otf);
    font-weight: normal;
    font-style: normal;
  }
  
  h1, h2, h3{
    font-family: 'spartan', 'Roboto', Arial, sans-serif;
    font-weight: bold;
    -webkit-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
  }
  
  .Index-gallery-item-content-heading{
    font-family: 'spartan', 'Roboto', Arial, sans-serif;
  }
  header#header {
      background: #fff !important;
  }
  .header .header-announcement-bar-wrapper {
      padding-top: 0.5vw;
      padding-bottom: 0.5vw;
  }
  .header-title-logo a {
      display: inline-block;
      max-width: 100%;
      max-height: 75px;
  }
  .header-title-logo img {
      width: auto;
      max-width: 100%;
      max-height: 70px;
  }
  .header-announcement-bar-wrapper {
      max-width: 1300px !IMPORTANT;
      margin: auto;
  }
  nav.header-nav-list a {
      color: #565758 !important;
      padding: 0px 20px !important;
  }
  nav.header-nav-list div:last-child a {
      background: #43BB92;
      color: #fff !important;
      text-transform: uppercase !important;
      border-radius: 22px;
  }
  .myround h2 {
      font-size: 17px;
      margin-top: 0;
  }
  .myround {
      text-align: center;
      border: 1px solid #000;
      border-radius: 140px;
      padding: 50px 10px!IMPORTANT;
    transition: all 300ms ease-in-out;
  }
  .myround img {
      width: 30%;
  }
  .myround:hover {
      background: #43BB92;
      border-color: #43BB92 !important;
      cursor: pointer;
      transition: all 300ms ease-in-out;
  }
  .myround:hover h2 {
      color: #fff !important;
  }
  .myround:hover img {
      filter: invert(1) brightness(5.5);
  }
  .myround.one {
      position: relative;
      right: -35px;
      z-index: 9;
  }
  .myround.three {
      position: relative;
      left: -35px;
      z-index: 9;
  }
  .myround.two {
      position: relative;
      z-index: 99;
  }
  .myround:hover {
      position: relative;
    z-index:9999;
   }
  .myround {
      background: #fff;
  }
  .fe-block.fe-block-fd39760f0743a836c8d5 {
      position: relative;
      z-index: 99;
  }
  .fe-block.fe-block-d65128abae7c8b28d7f0:hover {
      z-index: 9999;
  }
  .fe-block.fe-block-yui_3_17_2_1_1707305703039_23475:hover {
      z-index: 9999;
  }
  .card {
      padding: 10px;
      text-align: center;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .card h2 {
      font-size: 22px;
        margin-bottom: 0;
      height: 60px;
  }
  .card p {
      font-size: 16px;
      color: #565758;
        height: 140px;
  }
  .card.card1 span {
      text-transform: capitalize;
      font-weight: 900;
      color: #fff;
      background: #43BB92;
      padding: 1px 5px;
      border-radius: 11px;
  }
  .card.card2 span {
      text-transform: capitalize;
      font-weight: 900;
      color: #000;
      background: #F47751;
      padding: 1px 5px;
      border-radius: 11px;
  }
  .card.card3 span {
      text-transform: capitalize;
      font-weight: 900;
      color: #000;
      background: #4FC7E5;
      padding: 1px 5px;
      border-radius: 11px;
  }
  .card{
    background:#fff !important;
  }
  .fluid-engine.fe-65c384b625051744e64c1a39:before {
      content: "";
      width: 100%;
      height: 35%;
      position: absolute;
      left: 0;
      top: 0;
      background: #F6F6F6;
  }
  a.sqs-block-button-element--medium.sqs-button-element--primary.sqs-block-button-element {
      background: #43BB92;
  }
  .user-items-list {
      padding: 60px !important;
  }
  .user-items-list p {
      color: #fff;
      font-size: 48px;
  }
  ul.user-items-list-item-container.user-items-list-simple {
      grid-gap: 100px 30px !important;
  }
  .list-item-content p {
      font-size: 16px !important;
  }
  h2.list-item-content__title {
      color: #fff !important;
      font-size: 22px !IMPORTANT;
      letter-spacing: 1px;
  }
  div#block-yui_3_17_2_1_1707316010225_61068 {
      margin-top: -55px;
  }
  div#block-yui_3_17_2_1_1707316010225_46024 {
      margin-top: -140px;
  }
  div#block-yui_3_17_2_1_1707316010225_46024 label{
    color:#fff !important;
  }
  div#block-yui_3_17_2_1_1707316010225_46024 label span{
    color:#fff !important;
  }
  .caption-text {
      color: #fff !important;
  }
  yui_3_17_2_1_1707316010225_46024 .caption-text{
    color:#fff !important;
  }
  .form-button-wrapper.form-button-wrapper--align- button {
      font-size: 16px !important;
      padding: 10px 40px !important;
      position: absolute;
      right: 6%;
      bottom: 17%;
      background: #43BB92 !important;
      border: 1px solid #fff !important;
  }
  div#block-edf526833bce1f8375c4, div#block-yui_3_17_2_1_1707316010225_46024 {
      border-radius: 15px;
  }
  legend#name-yui_3_17_2_1_1707316011389_26002-field-wrapper {
      opacity: 0 !important;
  }
  
  ul.foterlinks li {
      list-style: none;
      font-size: 15px;
      font-weight: 600;
  }
  ul.foterlinks {
      display: flex;
      gap: 90px;
      margin: 0;
  }
  h2.copy {
      margin: 0;
      font-size: 12px;
      text-align: center;
      padding-top: 25px;
      border-top: 1px solid #fff;
      margin-top: 30px;
  }
  @media only screen and (max-width: 1440px) {
    .card p {
      font-size: 16px;
      color: #565758;
      height: 160px;
  }
    .sqs-html-content h1 {
      font-size: 36px !important;
  }
    .sqs-html-content p {
      font-size: 20px !important;
  }
    .sqs-html-content h1{
       font-size: 36px !important;
    }
    .sqs-html-content p{
          font-size: 20px !important;
    }
    .sqs-html-content h1{
      font-size: 36px !important;
    }
    .sqs-html-content p{
        font-size: 20px !important;
    }
   .sqs-html-content p {
      font-size: 20px  !important;
  }
    .sqs-html-content p{
         font-size: 20px !important;
    }
    .form-button-wrapper.form-button-wrapper--align- button {
      bottom: 10% !important;
  }
  }
  @media only screen and (max-width: 520px) {
    :not(.header--menu-open) .burger-inner .top-bun, :not(.header--menu-open) .burger-inner .patty, :not(.header--menu-open) .burger-inner .bottom-bun {
      background: #43BB92 !important;
  }
    .fe-block.fe-block-yui_3_17_2_1_1707305703039_2682 h1 {
      font-size: 28px !IMPORTANT;
  }
    .myround.one {
      right: 0 !important;
  }
      .myround.three {
      left: 0 !important;
  }
    .myround {   
      padding: 90px 10px!IMPORTANT;
  }
    .myround img {
      width: 50%;
  }
    .myround {
      padding: 50px 30px!IMPORTANT;
      margin: 10px;
  }
    .user-items-list {
      padding: 20px !IMPORTANT;
  }
    ul.user-items-list-item-container.user-items-list-simple {
      grid-gap: 40px 30px !important;
  }
    div#block-yui_3_17_2_1_1707316010225_61068 {
      margin-top: -22px !important;
  }
    div#block-yui_3_17_2_1_1707316010225_46024 {
      margin-top: -55px !important;
  }
  }